.DS_Store
psd/


# Ignore everything in the root except the "app" directory.

/*
!.gitignore
!.README.md
!app/

# Ignore everything in the "app" directory, except the "plugins" and "themes" directories.
app/*
!app/wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
app/wp-content/*
!app/wp-content/plugins/
!app/wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you specify
app/wp-content/plugins/*
# !app/wp-content/plugins/my-single-file-plugin.php
!app/wp-content/plugins/advanced-custom-fields-pro/

# Ignore everything in the "themes" directory, except the themes you specify
app/wp-content/themes/*
!app/wp-content/themes/wpstarterkit/